/* ----------------google font------------- */

@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
}

/*- -----------------top banner------------- */
.top-banner{
    background-color: #2D25A0;
    display: flex;
    margin-bottom: 70px;

}
.banner-info{
    display: flex;
    margin-top: 50px;
    justify-content: space-between;
}
.banner-title h2{
    color: white;
    font-size: 64px;
    font-weight: bold;
    width: 445px;
    height: 230px;
    margin-left: 156px;
}
.stream-link{
    text-decoration: none;
    color: white;
    background-color: #E02C6D;
    padding: 10px 24px;
    position: absolute;
    left: 156px;
    top: 415px;
    border-radius: 20px;
}
.stream-link:hover{
    transform: scale(1.5);
    border-radius: 20px;
    transition: transform 1s ease-in;
}
.banner-image img{
    width: 556px;
    height: 438px;
    margin-left: 102px;
    margin-bottom: 86px;
}

/*--------------- photo album start with grid------------ */

.photo-album{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 30px;
    margin-left: 80px;
    margin-bottom: 150px;
}
.photo-frame{
    width: 300px;
    height: 474px;
    padding: 15px;
    padding-bottom: 45px;
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
    overflow: hidden;
}
.photo-frame:hover .photo{
    transform: scale(1.1);
    transition: transform 1s ease-in-out;
}

.photo img{
    width: 300px;
    height: 256px; 
    cursor: pointer;
}
.photo-title{
    font-size: 28px;
    font-weight: 700;
}

/* bonus round start  */

.more-news{
        margin-left: 70px;
}
.container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 15px;
    margin-top: 50px;
}
.news-frame{
    width: 300px;
    height: 465px;
    border-radius: 10px;
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15) ;
    padding: 10px;
    position: relative;
}
.news-frame:hover .visit{
    display: block;
    background-color: rgba(245, 245, 245, 0.335);
    cursor: pointer;
}

.photo-video img{
    width: 300px;
    height: 200px;
    border-radius: 10px;
}
.visit{
    display: none;
    position: absolute;
    top: 10px;
    right:60px;
    font-size: 50px;
    font-weight: 900;
}
.icons-container{
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
}
.left-icon, .last-icon{
    color: #888;
}
.right-icon a, .fa-file-alt{
    text-decoration: none;
    color: purple ;
    font-weight: bold;
}
.last-icon a{
    color: #888;
}

/* footer sertion  */

footer{
    width: 444px;
    height: 215px;
    margin: auto;
    margin-top: 70px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.football-logo img{
width: 100%;
height: 110px;
}
.footer-icons{
    display: flex;
    justify-content: center;
}
.footer-icons p, .copyright{
    margin: 0px 5px;
    color: #888;
}

/* media quiries */

@media only screen and (max-width:668px) {
main{
    width: 440px;

}
    .banner-info{

            display: flex;
        flex-direction: column;
    }
    .banner-title{
        width: 278px;
        height: 138px;
        margin-bottom: 350px;

    }
    .banner-title h2{
        /* font-size: 0px; */
        margin-left: 0;
        margin-top: 50px;
    }
    .banner-image img{
        width: 330px;
        height: 260px;
    }
    .photo-album{
                display: grid;
        grid-template-columns: repeat(1, 1fr);
    }
    .container{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }
    footer{
        width: 330px;
        
    }
}